<a mat-raised-button (click)="redirectToLogin()" color="primary">Go Back</a>
<!-- <span class="fill-space "></span> -->
<span class="gap"></span>



<!-- </nav>

</div> -->
<!-- </mat-toolbar-row>
</mat-toolbar> -->


<header></header>
<aside id="leftBar"></aside>


<div class="box">

    <section>



        <aside></aside>


        <div class="row center-xs">
            <div class="box" id="loginbox">
                <form [formGroup]="forgotPassForm" (ngSubmit)="generatePass()">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Forgot password</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-xs">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input id="sessionmail" autocomplete="off" formControlName="email" matInput type="text">
                                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                        <span mat-icon-button matSuffix>
                    <mat-icon>person</mat-icon>
                  </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs">

                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button [disabled]="forgotPassForm.invalid" mat-raised-button color="accent" type="submit">Generate new Password</button>
                            <button [disabled]="forgotPassForm.invalid" mat-raised-button type="button" (click)="cancel()">Cancel</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>

        </div>




    </section>
    <aside id="rightBar"></aside>
    <footer></footer>
</div>