<div class="about-section">
    <h1>About Us </h1>
    <p>ShoppersBay is a one-stop shop for everything ranging from electronic appliances , casual flats to platform boots, holiday tops to pulled-together blouses, vacation dresses to ethnic outfit, handbags, to lifestyle products. We pay attention to every
        detail, which means you'll find an elevated aesthetic throughout our entire collection. Designed to make your everyday special and expressive, Our Fashoin collections which include shoes & clothes are an individualist's greatest style secret.
        And, the best part? Find Shoes that flatter you & make you feel special.
    </p>



</div>

<h2 style="text-align:center">Our Goals</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.a4ePmzSGVXPotpJdhQmVEgHaD3?pid=ImgDet&rs=1" alt="Building the future" style="width:100%">
            <div class="container">
                <h2>Building the future</h2>
                <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning
                    and inventing on behalf of our customers..</p>


            </div>
        </div>
    </div>
</div>