section {
    display: table;
/*     background-image: url("https://th.bing.com/th/id/OIP.QhIoFTlThse0mSiolLUpcQHaEK?pid=ImgDet&rs=1"); */
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

div {
    height: 800px;
}

aside {
    width: 20%;
    float: left;
}

section {
    width: 100%;
    float: right;
    /* height: 100px; */
}

app-footer {
    clear: both;
}

router-outlet {
    align-self: center;
}
