<div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="box">
                        <h3>Products</h3>
                        <ul>
                            <li>
                                <a>New Producs</a
                >
              </li>
              <li>
                <a>In Offer</a
                >
              </li>
              <li>
                <a >Last products</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="box">
       <h3>About the Store</h3>
                            <ul>
                                <li><a mat-button [routerLink]=" '/../info/about' "  >About Us </a></li>



                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="box">
                        <h3>Contact</h3>
                        <ul>
                            <li><a mat-button [routerLink]=" '/../info/contact' ">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>