<mat-card class="product-card">

    <!-- <img src="https://picsum.photos/400" > -->
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=retrievedImage>
                <img [src]="retrievedImage">
            </div>
            <div *ngIf=!retrievedImage>
                <img [src]="profile">
            </div>
        </div>
    </div>

    <mat-card-content>
        <mat-card-title>
            {{product.product_name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{ product.product_price | currency:'INR'}}
        </mat-card-subtitle>
        <p>{{ product.description | slice:0:50 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="addCart()" mat-raised-button color="primary">Add Cart</button>
        <!--     <a mat-raised-button [routerLink]="['/products',product.productId]">View Detail</a>
    -->
    </mat-card-actions>
</mat-card>