.parent{
    display: flex;
}

.left-col{
    width:70%;
   margin:50px;
}

.right-col{
    margin:15px;
    margin-top: 300px;
    width: 40%;
}

.left-col h3{
    float: right;
}

table {
    width: 80%;
    margin-top: 100px;
  }

  td, th {
    text-align: center;
    padding: 8px; 
  }

  .checkout-btn{
      width: 150px;
      float:right;
  }


