.parent{
    text-align: center;
  
}

table {
   border-collapse: collapse;
    width:80%;
    margin-left:10%;
    margin-right: 10%;
  }
  
  th {
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
    color: white;
  }
  td {
    border: 1px solid #dddddd;
  }
  td, th {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }